<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" type="image/jpg" href="../favicon.ico" />
  <link rel="manifest" href="/site.webmanifest">
  <title>CodeSHA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    * {
      background-color: #022b30;

    }

    .chamak {
      border: 5px inset;
      border-radius: 5px;
    }

    .collapsible {
      background-color: #3f71b2;
      margin-bottom: 8px;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      padding: 15px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 18px;
    }

    .active,
    .collapsible:hover {
      background-color: #93bd20;
    }

    .collapsible:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    @media only screen and (max-width: 600px) {

      #select_txt,
      #select_txt1,
      #select_txt2,#select_txt3,#select_txt4,#select_txt5 ,#select_txt6,#select_txt7{
        font-size: 12px;

      }


      #qtn {
        font-size: 2em;
      }

      iframe {
        width: fit-content;

        height: fit-content;
      }

      .mybtn {
        margin-left: 14em;
      }
    }

    /* @media only screen and (max-width: 700px) {
  #subbtn {
  position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: 0%;
    right: 5%;
            }
} */
    @media only screen and (min-width: 600px) {
      #qtn {
        font-size: 3.1em;
      }

      #select_txt,
      #select_txt1,
      #select_txt2,#select_txt3 ,#select_txt4,#select_txt5,#select_txt6 ,#select_txt7{
        font-size: 21px;
      }

      .mybtn {
        margin-left: 78%;
      }

      /* #subbtn {
  position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: 0%;
    right: 35em;
            } */
    }

    .active:after {
      content: "\2212";
    }

    .mybtn {
      border-radius: 5px;
      width: 130px;
      height: 30px;

      background-color: cyan;

      display: inline;

    }

    .content {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: #272822;
      justify-content: center;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .code1 {
      font-size: 21px;
      font-family: 'Courier Prime', monospace;
      color: white;



    }

    /* .video1{
     margin-top: 85px;
     margin-left: 25px;
} */
    .codediv1 {
      background-color: #1c1d14;
      width: 50%;
    }

    .logo {
      /* width:10%;
  height: 10%; */
      display: inline;
      width: 5em;
      margin: 5px;
    }

    .logo1 {
      /* width:10%;
  height: 10%; */
      display: inline;
      height: 10%;
      width: 37%;
    }

    #qtn {
      color: cyan;
      /* width: 25%; */
      /* background-color: rgb(38, 212, 212); */
      /* height: 50%; */
      border-radius: 5px;
      /* margin-left: 35%; */
      /* text-align:center */

    }

    .text1 {
      color: cyan;
      font-size: 23px;
      text-align: center;

    }

    #subbtn {
      margin-top: 25%;
      margin-left: 30%;
    }

    #dd {
      display: flex;
      flex-wrap: nowrap;
    }

    .marquee_code {
      height: 50px;
      width: 100%;
      background-color: #022b30;
      font-family: Georgia;
      font-size: 20pt;
      color: #022b30;

      font-weight: bold;
    }


    .op {
      width: fit-content;
      background-color: cyan;
      border-radius: 20px;
      padding: 5px;
    }
  </style>
</head>

<body>


  <div id="dd">
    <img class="logo" src="Code-sha-logo-modified.png" alt="Img">
    <img class="logo1" style="width:290px" src="Code-SHA-web.png" alt="Img">
  </div>

  <div id="qtn" style="text-align:center">
    <b>Questions:</b>
  </div>
   <!-- TEMPLATE OF QUESTION count of prime -->
<button id="Question1" class="collapsible">Count Of Prime</button>
<div class="content" style="display:flex">

  <div class="embed-responsive embed-responsive-16by9 video1" style="    background-color: #272822;">
    <iframe class="chamak" width="650" height="400" style="margin:2% 0% 0% 0%;" src="https://www.youtube.com/embed/caWx3iuQ99M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class=codediv1-container><button id="mybtn7" class="container mybtn"
      onclick='copy_data("select_txt7","mybtn7")' ;>Copy
      Code</button>
    <pre id="select_txt7" style="color: white;">
      #include&#60;iostream&#62;
      #include&#60;stack&#62;
      using namespace std;          

        int sieve[100005];
        void createSieve()
        {
            int N = 100000;
            for (int i = 2; i < N; i++)
            {
                sieve[i] = 1;
            }
            for (int i = 2; i * i <= N; i++)
            {
                if (sieve[i] == 1)
                {
                    for (int j = i * i; j <= N; j = j + i)
                    {
                        sieve[j] = 0;
                    }
                }
            }
        }
        
        int main()
        {
            int num, t;
            cin >> t;
            createSieve();
            while (t--)
            {
                cin >> num;
                int arr[num];
                int count = 0;
                for (int i = 0; i < num; i++)
                {
                    cin >> arr[i];
                }
        
                for (int i = 0; i < num; i++)
                {
                    if (sieve[arr[i]] == 1)
                    {
                        count++;
                    }
                }
        
                cout << count << endl;
            }
        
            return 0;
        }
    </pre>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- END OF TEMPLATE count of prime


<- TEMPLATE OF QUESTION Valid Parentheses -->
<button id="Question1" class="collapsible">Valid Parentheses</button>
<div class="content" style="display:flex">

  <div class="embed-responsive embed-responsive-16by9 video1" style="    background-color: #272822;">
    <iframe class="chamak" width="650" height="400" style="margin:2% 0% 0% 0%;" src="https://www.youtube.com/embed/caWx3iuQ99M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class=codediv1-container><button id="mybtn6" class="container mybtn"
      onclick='copy_data("select_txt6","mybtn6")' ;>Copy
      Code</button>
    <pre id="select_txt6" style="color: white;">
      #include&#60;iostream&#62;
      #include&#60;stack&#62;
      using namespace std;          
          bool isValid(string s)
          {
          
              stack< char> st;
              for (int i = 0; i < s.length(); i++)
              {
                  char ch = s[i];
                  if (ch == '(' || ch == '{' || ch == '[')
                  {
                      st.push(ch);
                  }
                  else if (ch == ')')
                  {
                      if (st.size() == 0 || st.top() != '(')
                      {
                          return false;
                      }
                      else
                      {
                          st.pop();
                      }
                  }
                  else if (ch == '}')
                  {
                      if (st.size() == 0 || st.top() != '{')
                      {
                          return false;
                      }
                      else
                      {
                          st.pop();
                      }
                  }
                  else if (ch == ']')
                  {
                      if (st.size() == 0 || st.top() != '[')
                      {
                          return false;
                      }
                      else
                      {
                          st.pop();
                      }
                  }
              }
              if (st.size() == 0)
              {
                  return true;
              }
              else
              {
                  return false;
              }
          }
          int main()
          {
              string s;
              cin >> s;
              if (isValid(s))
              {
                  cout << "YES";
              }
              else
              {
                  cout << "NO";
              }
              return 0;
          }
    </pre>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- END OF TEMPLATE Valid Parentheses -->
 
<!-- TEMPLATE OF QUESTION Find Minimum in Rotated Sorted Array -->
<button id="Question1" class="collapsible">Find Minimum in Rotated Sorted Array</button>
<div class="content" style="display:flex">

  <div class="embed-responsive embed-responsive-16by9 video1" style="    background-color: #272822;">
    <iframe class="chamak" width="650" height="400" style="margin:2% 0% 0% 0%;" src="https://www.youtube.com/embed/caWx3iuQ99M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class=codediv1-container><button id="mybtn5" class="container mybtn"
      onclick='copy_data("select_txt5","mybtn5")' ;>Copy
      Code</button>
    <pre id="select_txt5" style="color: white;">
      #include&#60;iostream&#62;
      #include&#60;vector&#62;
      using namespace std;
        
      int findMin(vector< int> nums) {
        
        if (nums.size() == 1) {
          return nums[0];
        }
        
        int left = 0, right = nums.size() - 1;

        if (nums[right] > nums[0]) {
          return nums[0];
        }
   
        while (right >= left) {
      
          int mid = left + (right - left) / 2;
          if (nums[mid] > nums[mid + 1]) {
            return nums[mid + 1];
          }
          if (nums[mid - 1] > nums[mid]) {
            return nums[mid];
          }
         
          if (nums[mid] > nums[0]) {
            left = mid + 1;
          } else {
            
            right = mid - 1;
          }
        }
        return -1;
      }
    int main()
    {
        int n;
        vector< int> v={4,5,6,7,1,2,3};
        cout<< findMin(v);
        return 0;
    }
    </pre>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- END OF TEMPLATE Find Minimum in Rotated Sorted Array -->


  <!-- TEMPLATE OF QUESTION Divide a String  -->
  <button id="Question1" class="collapsible">Divide a String Into Groups of Size k</button>
  <div class="content" style="display:flex">

    <div class="embed-responsive embed-responsive-16by9 video1" style="    background-color: #272822;">
      <iframe class="chamak" width="650" height="400" style="margin:2% 0% 0% 0%;" src="https://www.youtube.com/embed/qgtqCt1THII" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
    </div>
    <div class=codediv1-container><button id="mybtn4" class="container mybtn"
        onclick='copy_data("select_txt4","mybtn4")' ;>Copy
        Code</button>
      <pre id="select_txt4" style="color: white;">
        #include&#60;iostream&#62;
        #include&#60;vector&#62;
        using namespace std;
          
        vector< string > divideString(string s, int k, char fill)
        {
           int i = 0, flag = 0;
           int n = s.length(), temp = k;
           vector< string > s2;
          
           while (i < n)
           {
              string s1 = "";
              while (temp--)
              {
                  if (i < n)
                  {
                      s1 += s[i++];
                  }
                  else
                  {
                      s1 += fill;
                  }
              }
              temp = k;
              s2.push_back(s1);
            }
            return s2;
         }
        int main() 
        { 
          string s="abcdefghij";
          int k=3;
          char fill='x';
          vector< string > str;
          str=divideString(s,k,fill);
          for (int i = 0; i < str.size(); i++)
          {
            cout<< str[i]<<" ";
          }
          return 0;                
        }
          

      </pre>
    </div>


  </div>
  </div>
  </div>
  </div>
  </div>
  <!-- END OF TEMPLATE Divide a String -->


  <!-- TEMPLATE OF QUESTION One Plus  -->
  <button id="Question1" class="collapsible">Plus One on the Subset  </button>
  <div class="content" style="display:flex">

    <div class="embed-responsive embed-responsive-16by9 video1" style="    background-color: #272822;">
     <iframe     class="chamak" width="650" height="400" style="margin:2% 0% 0% 0%;"
     src="https://www.youtube.com/embed/B3GHQCu88ck" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class=codediv1-container><button id="mybtn3" class="container mybtn"
        onclick='copy_data("select_txt3","mybtn3")' ;>Copy
        Code</button>
      <pre id="select_txt3" style="color: white;">
        #include&#60;iostream&#62;
        using namespace std;
        void swap(int *xp, int *yp) 
        { 
            int temp = *xp; 
            *xp = *yp; 
            *yp = temp; 
        } 
        void bubbleSort(int arr[], int n) 
        { 
            int i, j; 
            for (i = 0; i < n-1; i++)      
            for (j = 0; j < n-i-1; j++) 
                if (arr[j] > arr[j+1]) 
                    swap(&arr[j], &arr[j+1]); 
        } 
        int main()
        {
            int t;                                               
          cin >> t;
          while (t--)
          {
            int n;
            cin>>n;
            int a[n];
            for (int i = 0; i < n; i++)
            {
              cin>>a[i];
            }
            bubbleSort(a, n);
            cout<< a[n-1] - a[0]<< endl;
          }
          return 0;
        }
      </pre>
    </div>


  </div>
  </div>
  </div>
  </div>
  </div>
  <!-- END OF TEMPLATE one plus  -->

 <!-- TEMPLATE OF QUESTION K SUM   -->
 <button id="Question1" class="collapsible">Maximum or Minimum of all subarrays of size k</button>
 <div class="content" style="display:flex">

   <div class="embed-responsive embed-responsive-16by9 video1" style="    background-color: #272822;">
     <!-- <iframe 
         src="https://www.youtube.com/embed/t3U9PwCCBY4" title="YouTube video player" frameborder="0"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen></iframe> -->
     <iframe class="chamak" width="650" height="400" style="margin:2% 0% 0% 0%;"
       src="https://www.youtube.com/embed/sXiL3RpJcA4" title="YouTube video player" frameborder="0"
       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
       allowfullscreen></iframe>
   </div>
   <div class=codediv1-container><button id="mybtn2" class="container mybtn"
       onclick='copy_data("select_txt2","mybtn2")' ;>Copy
       Code</button>
     <pre id="select_txt2" style="color: white;">
       #include&#60;iostream&#62;
       using namespace std;
         
       int maxSum(int arr[], int n, int k)
       {
         int res = 0;
         for (int i=0; i< k; i++) 
             res += arr[i];
             
         int curr_sum = res;
         for (int i=k; i < n; i++) 
         {
            curr_sum += arr[i] - arr[i-k];
            res = max(res, curr_sum);
         }    
         return res;            
       }    
          
       int main()
       {
           int arr[] = {4, 2, 3, 5, 1, 2};
           int k = 3;  
           int n = sizeof(arr)/sizeof(arr[0]);  
           cout<< maxSum(arr, n, k);  
           return 0;    
       }  
       
     </pre>
   </div>


 </div>
 </div>
 </div>
 </div>
 </div>
 <!-- END OF TEMPLATE K SUM -->

<!-- TEMPLATE OF QUESTION TWO SUM  -->
<button id="Question1" class="collapsible">Two Sum  </button>
<div class="content" style="display:flex">

  <div class="embed-responsive embed-responsive-16by9 video1" style="    background-color: #272822;">
    <!-- <iframe 
        src="https://www.youtube.com/embed/t3U9PwCCBY4" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe> -->
    <iframe class="chamak" width="650" height="400" style="margin:2% 0% 0% 0%;"
      src="https://www.youtube.com/embed/Y-FAVe2Dibo" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class=codediv1-container><button id="mybtn1" class="container mybtn"
      onclick='copy_data("select_txt1","mybtn1")' ;>Copy
      Code</button>
    <pre id="select_txt1" style="color: white;">
      #include&#60;iostream&#62;
      #include&#60;vector&#62;
      #include&#60;map&#62;
      using namespace std;
      
      vector&#60;int&#62; twoSum(vector&#60;int&#62; &nums, int target)
      {
          map&#60;int,int&#62; map;
          vector&#60;int&#62; pairs;
          for (int i = 0; i < nums.size(); i++)
          {
              int searchvar = target - nums[i];
              if (map.find(searchvar) != map.end())
              {
                  int Index=map.find(searchvar)->second;
                  pairs.push_back(Index);
                  pairs.push_back(i);
                  break;
              }
              map.insert(pair&#60;int,int&#62;(nums[i], i));
          }
          return pairs;
      }
      int main()
      {
          vector&#60;int&#62; v = {1,2,7,15};
          vector&#60;int&#62; ans = twoSum(v, 9);
          for (int i = 0; i < ans.size(); i++)
              cout << ans[i] << " ";
          return 0;
      }
      
    </pre>
  </div>


</div>
</div>
</div>
</div>
</div>
<!-- END OF TEMPLATE TWO SUM-->




  <!-- TEMPLATE OF QUESTION Reverse a Given Number -->
  <button id="Question1" class="collapsible">Reverse a Given Number</button>
  <div class="content" style="display:flex">

    <div class="embed-responsive embed-responsive-16by9 video1" style="    background-color: #272822;">
      <!-- <iframe 
        src="https://www.youtube.com/embed/t3U9PwCCBY4" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe> -->
      <iframe class="chamak" width="650" height="400" style="margin:2% 0% 0% 0%; "
        src="https://www.youtube.com/embed/xA3-KK4cRS4" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class=codediv1-container><button id="mybtn" class="container mybtn" onclick='copy_data("select_txt","mybtn")'
        ;>Copy
        Code</button>
      <pre id="select_txt" style="color: white;">
    #include&#60;iostream&#62;
    using namespace std;
    int main()
    {
      int n, reverse = 0, rem;
      cout << "Enter a number: ";
      cin >> n;
      while (n != 0)
      {
          rem = n % 10; 
          reverse = reverse * 10 + rem;
          n = n/10; 
      }
      cout << "Reversed Number: " << reverse << endl;
      return 0;
    }
    </pre>
    </div>


  </div>
  </div>
  </div>
  </div>
  </div>
  <!-- END OF TEMPLATE Reverse a Given Number -->


  
  <!-- Basic template 

<button id="Question1" class="collapsible">Reverse a Given Number</button>
<div class="content" style="display:flex">
  <div class="embed-responsive embed-responsive-16by9 video1"   style="    background-color: #272822;" >
    <iframe class="chamak" width="650" height="400" style="margin:2% 0% 0% 0%; " src="https://www.youtube.com/embed/t3U9PwCCBY4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </div>
  <div class=codediv1-container ><button id="mybtn" class="container"  onclick="copy_data(select_txt)";  >Copy Code</button>
    <pre  id="select_txt" style="color: white;" >
    #include&#60;iostream&#62;
    using namespace std;
    int main()
    {
      int n, reverse = 0, rem;
      cout << "Enter a number: ";
      cin >> n;
      while (n != 0)
      {
          rem = n % 10; 
          reverse = reverse * 10 + rem;
          n = n/10; 
      }
      cout << "Reversed Number: " << reverse << endl;
      return 0;
    }
    </pre>
  </div>


</div>
</div>
</div></div>
</div>
 -->


  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
    function copy_data(containerid, btnid) {
      let range = document.createRange();
      // let referenceNode = document.getElementById("select_txt").item(0);

      range.selectNode(document.getElementById(containerid));
      window.getSelection().removeAllRanges();
      window.getSelection().addRange(range);
      document.execCommand("copy");
      window.getSelection().removeAllRanges();
      document.getElementById(btnid).innerHTML = "COPIED";
      document.getElementById(btnid).style.backgroundColor = "rgb(138, 212, 209)";
    }



  </script>
  <marquee style="margin-top: 1%;" class="marquee_code" scrollamount="8" behavior="alternate" onmouseover="this.stop()"
    ; onmouseout="this.start()" ;>
    <div class=" op">&#60;&#60;&#60;&#60;More Questions are coming soon!!!&#62;&#62;&#62;&#62;
    </div>
  </marquee>
  <span>
    <span class="text1">Click on Youtube for more such Questions</span>
    <script src="https://apis.google.com/js/platform.js"></script>

    <div class="g-ytsubscribe" data-channelid="UCQ96RPiohmwUzFXfwC_Gz2A" data-layout="default" data-theme="dark"
      data-count="hidden"></div>
  </span>

</body>

</html>